.start01 {
  color: white;
}
.start02 {
  color: #000;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
}

/*div要素全体にリンクをつけるために必要な要素*/
.linkbox {
    position: relative;
}
.linkbox a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.sns01 {
  font-size: 40px;
}
